/* APP WIDE STYLES */

img {
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 10px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

body {
  background-color: aliceblue;
}

/* FORMS */
