/* APP WIDE STYLES */

img {
  width: 300px;
  height: 300px;
  margin: 10px;
  padding: 10px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border: 1px solid purple;
  background-image: url('https://jwaltuch.github.io/mindfull-app/Twilight.jpg');
  min-height: 75vh;
  width: 90vw;
  border-radius: 30px;
  text-align: center;
}

body {
  background-color: aliceblue;
  font-family: 'Montserrat', 'Century Gothic', 'Helvetica';
  color: purple;
}

/* FORMS */

.buttons {
  display: flex;
  flex-direction: row;
  margin: 5px;
  justify-content: space-between;
}

textarea {
  width: 86vw;
  height: 17vw;
  resize: none;
}

button {
  margin: 8px;
  padding: 14px 10px 10px 10px;
  max-height: 50px;
  background-color: rgb(206, 115, 206);
  border-radius: 28px;
  border: 1px solid black;
  cursor: pointer;
  width: 20vw;
  font-size: 16px;
}

button:hover {
  background-color: rgb(225, 151, 225);
}
